@page "/admin"
@attribute [Authorize(Roles = ArmedMFG.BlazorShared.Authorization.Constants.Roles.ADMINISTRATORS)]
@inherits ArmedMFG.BlazorAdmin.Helpers.BlazorComponent

<PageTitle>ArmedMFG Admin</PageTitle>

<h1>Home Page</h1>