@inject ILogger<Create> Logger
@inject IJSRuntime JSRuntime
@inject IProductPriceService ProductPriceService

@inherits ArmedMFG.BlazorAdmin.Helpers.BlazorComponent

@namespace ArmedMFG.BlazorAdmin.Pages.ProductPricePage

<div class="modal @_modalClass" tabindex="-1" role="dialog" style="display:@_modalDisplay">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <EditForm Model="_productPrice" OnValidSubmit="@CreateClick">
                <DataAnnotationsValidator />
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @if (_productPrice == null)
                    {
                        <Spinner></Spinner>
                    }
                    else
                    {
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-6">From Date</label>
                                        <div class="col-md-12">
                                            <InputDate class="form-control" @bind-Value="_productPrice.FromDate" />
                                            <ValidationMessage For="(() => _productPrice.FromDate)" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-6">Product Type</label>
                                        <div class="col-md-12">
                                            <InputSelect @bind-Value="_productPrice.ProductTypeId" class="form-control">
                                                @foreach (var type in ProductTypes)
                                                {
                                                    <option value="@type.Id">@type.Name</option>
                                                }
                                            </InputSelect>
                                            <ValidationMessage For="(() => _productPrice.ProductTypeId)" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-6">Price</label>
                                        <div class="col-md-12">
                                            <InputNumber @bind-Value="_productPrice.Price" class="form-control" />
                                            <ValidationMessage For="(() => _productPrice.Price)" />
                                        </div>
                                    </div>                                   
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="Close">Cancel</button>
                    <button type="submit" class="btn btn-primary">
                        Create
                    </button>
                </div>
            </EditForm>
        </div>
    </div>
</div>



@if (_showCreateModal)
{
    <div class="modal-backdrop fade show"></div>
}

@code {
        [Parameter]
        public IEnumerable<ProductType> ProductTypes { get; set; }

        [Parameter]
        public EventCallback<string> OnSaveClick { get; set; }

    private string _badFileMessage = string.Empty;
    private string _modalDisplay = "none;";
    private string _modalClass = "";
    private bool _showCreateModal = false;
    private CreateProductPriceRequest _productPrice = new CreateProductPriceRequest();

    private async Task CreateClick()
    {
        var result = await ProductPriceService.Create(_productPrice);
        if (result != null)
        {
            await OnSaveClick.InvokeAsync(null);
            await Close();
        }
    }

    public async Task Open()
    {
    
        Logger.LogInformation("Now loading... /ProductPrices/Create");

        await new Css(JSRuntime).HideBodyOverflow();

        _productPrice = new CreateProductPriceRequest
        {
            ProductTypeId = ProductTypes.First().Id,
            FromDate = DateTime.Now
        };

        _modalDisplay = "block;";
        _modalClass = "Show";
        _showCreateModal = true;

        StateHasChanged();
    }

    private async Task Close()
    {
        await new Css(JSRuntime).ShowBodyOverflow();
        _modalDisplay = "none";
        _modalClass = "";
        _showCreateModal = false;
    }
}
